
.goals{
    margin-top: 25px;
    margin-left: 25px;
    border-radius: 15px;
    width: 40%;
}

.goals-items{
    text-align: center;
}

.budget-item{
    width: 70%;
    margin: 0 auto;
    margin-top: 15px;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 10px;
    border-radius: 10px;
}

.budget-item:hover{
    cursor: pointer;
    background-color: aqua;
    outline: 2px solid yellow;
    transition: 350ms;
}

.lower-budget{
    float: right;
    display: flex;
}


